body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

section {
    margin: 20px;
}

footer {
    margin-top: 20px;
    color: gray;
}
